/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin: 140px 0;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters-btn__container {
	width: 100%;
	text-align: center;
	margin: 40px 0;
}

.filters-btn__container>button {
	height: 37px;
	min-width: 100px;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1d6154;
	border-radius: 60px;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 15px;
	margin: 6px;
}

.filters-btn__container>button:focus {
	color: white;
	background-color: #1D6154;
	transition: 300ms ease;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.contact {
	width: 50%;
	margin: auto;
}

.contact>*,
.login_section>* {
	text-align: center;

}

.contact h2,
.login_section h2 {
	margin-bottom: 20px;
}

.contact form,
.login_form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.contact input,
.login_form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.contact label,
.login_form label {
	margin: 2em 0 1em 0;
}

.contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
}

.nav_login {
	font-weight: 600;
}


.login_section {
	width: 50%;
	margin: auto;
	padding: 160px 0 350px 0;
}

.login_section p {
	text-decoration: underline;
}

.error {
	font-size : 12px;
	color: #d65353;
	font-weight: 600;
	text-align: center;
	padding-top: 4px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.mode-edition-css {
	width: 100%;
	height: 60px;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: work sans;
}

.mode-edition i,
.mode-edition p {
	color: white;
	font-size: 16px;
	margin-left: 8px;
	font-weight: 500;
}

.mode-edition button {
	width: 216px;
	height: 38px;
	border-radius: 60px;
	font-size: 14px;
	font-weight: 600;
	border: none;
	margin-left: 16px;
}

.mode-edition button:hover {
	opacity: 0.9;
	transition: 300ms ease;
}

.modif {
	display: flex;
	flex-direction: row;
}

.modif i {
	font-size: 20px;
	margin-right: 12px;
	margin-left: 56px;
	margin-top: 12px;
}

.modif p {
	margin-top: 16px;
	cursor: pointer;
}

.portfolio__title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
}

.portfolio__title p {
	font-size: 14px;
	padding-top: 12px;
	cursor: pointer;
}

.portfolio__title i {
	font-size: 20px;
	margin-left: 16px;
	padding-top: 8px;
}

.filter-buttons--hide {
	visibility: hidden;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;}

.modalHide{
	display: none;
}

.modal-wrapper{
	background-color: white;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
	padding: 20px; 	
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	border-radius: 10px;
	animation: scaleIn 300ms ease;
}

@keyframes scaleIn {
	from {transform: scale(0.4)};
	to {transform: scale(1)}
}

.modal-wrapper h3 {
	text-align: center;
	font-size: 26px;
	margin-top: 60px;
}

.modal-wrapper .fa-xmark {
	text-align: right;
	cursor: pointer;
	font-size: 20px;
	width: 16px;
	position: absolute;
	top : 30px;
	right : 36px;	
}

.photo-ctn {
	box-sizing: border-box;
	padding: 50px 70px 0 70px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: auto;
	gap : 8px;
}

.border {
	width: 75%;
	margin: auto;
	border-bottom: solid 1px black;
	margin-top : 40px;
}

.photo-ctn img {
	width: 100%;
}

.workDiv {
	position: relative;
}

.photo-ctn i {
	color: white;
	background-color: black;
	width: 17px;
	height: 17px;
	font-size: 9px;
	text-align: center;
	padding-top : 3px;
	box-sizing: border-box;
}

.photo-ctn .fa-up-down-left-right {
	position: absolute;
	top : 2px;
	right : 20px;
	opacity : 0;
}

.photo-ctn img:hover + .fa-up-down-left-right {
	opacity : 1;
	transform: 300ms ease;
}

.fa-up-down-left-right:hover {
	opacity: 1;
}

.photo-ctn .fa-trash-can {
	position: absolute;
	top : 2px;
	right : 2px;
}

.photo-ctn p{
	font-size: 12px;
	padding-top: 2px;
}

.addButton {
	text-align: center;
	background-color: #1D6154;
	color: white;
	font-size: 14px;
	font-family: "syne";
	border-radius: 60px;
	border: none;
	margin: auto;
	margin-top: 36px;
	width: 40%;
	height: 36px;
	cursor: pointer;
}

.addButton:hover {
	background-color: #0E2F28;
	transition: 300ms ease;
}

.removeButton {
	border: none;
	font-family: "syne";
	background-color: white;
	color : #d65353;
	margin: 24px;
	cursor: pointer;
}

.addForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 36px;
}

.addBox {
	background-color: #E8F1F6;
	border-radius: 3px;
	height: 170px;
	width:75%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.addBox p{
	font-size: 10px;
	margin-top: 4px;
}

.inputCtn {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.fa-arrow-left {
	font-size: 20px;
	text-align: left;
	cursor: pointer;
	width: 16px;
	position: absolute;
	top : 30px;
	left : 36px;
}

.fa-image {
	margin: 20px;
	font-size: 56px;
	color: rgb(189, 187, 187);
	background-color: #E8F1F6;
}

.addImgButton {
	height: 36px;
	width: 173px;
	text-align: center;
	background-color: #CBD6DC;
	color: #306685;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}

.inputFileBtn{
	opacity: 0;
	position: absolute;
	bottom: 40px;
	cursor: pointer;
	height:36px;
}

#photoPreview {
	position: absolute;
	height:170px;
}

form label {
	margin-top: 24px;
	margin-bottom: 10px;
}

#Title, #category {
	width : 100%;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	padding-left: 20px;
}

.formSubmitButton {
	height: 36px;
	width: 173px;
	text-align: center;
	background-color: #A7A7A7;
	color: #fff;
	font-size: 14px;
	font-family: "syne";
	font-weight: 700;
	border-radius: 60px;
	border: none;
	cursor: pointer;
	margin-top: 32px;
	margin-bottom: 32px;
}
